/*  tmp  */
.popup-hidden,
.visually-hidden {
  display: none;
}
/*  end tmp  */

/*  global  */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(50, 50, 50);
    
  background-color: #849d8f;
  background-image: url("img/background-sliders1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

li {
  list-style-type: none;
}
/*  end global  */

/*  button */
.nav__login__btn,
.nav__cart__btn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 16.002px;
}
.nav__full-cart__btn {
  font-size: 14px;
  color: rgb(50, 50, 50);
  line-height: 16.002px;
}
/* end button */

/*  header  */
.nav__item>a {
  line-height: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header__timetable__time-schedule {
  font-size: 14px;
  line-height: 16.002px;
  color: rgb(255, 255, 255);
}
.header__timetable__phone {
  font-size: 22px;
  line-height: 24.002px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/*  end header  */

/*  slider  */
.slider__item__title{
  font-size: 60.468px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 60.830808px;
}
.slider__item__btn>a {
  font-size: 30.765px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 40.301875px;
  text-decoration: none;
}
/*  end slider  */

/*  section special-offer  */
.special-offer__item{
  font-size: 23px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 26.933px;
}
.special-offer__item__info{
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 14.664px;
}
.special-offer__item__btn>a{
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 15.996px;
  text-decoration: none;
}
/*  end section special-offer  */

/*  breadcrumbs inner  */
.breadcrumbs__item>a, 
.breadcrumbs__item {
  font-size: 14px;
  line-height: 16.002px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.page-title{
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 40.985px;
}
/* end breadcrumbs inner */

/*  section filters  */
.filters__parameter{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 16.002px;
}
.filters__characteristic{
  color: rgb(255, 255, 255);
  line-height: 18px;
}
.filters__btn{
  color: rgb(255, 255, 255);
  line-height: 18px;
}
/*  end section filters  */

/*  section about-us  */
.about-us__title {
  font-size: 24px;
  line-height: 30px;
}
/*  end section about-us  */

/*  section store-news  */
.store-news__caption>a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/*  end section store-news  */

/*  section subscription */
.subscription__text {
  color: rgb(90, 90, 90);
}
/*  end section subscription  */

/*  section catalog  */
.catalog__item__title>a,
.bestseller__item__title>a {
  font-size: 10.502px;
  line-height: 14.44025px;
  color: rgb(255, 255, 255);
}
.catalog__item__price,
.bestseller__item__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
/*  end section catalog  */

/*  map */
#map-googl {
  width: 100%;
  height: 400px;
  background-color:#dddddd;
  margin-bottom:100px;
}
.map__contacts__title,
.map__contacts__time {
  font-size: 14px;
  line-height: 20.006px;
}
.map__contacts__address,
.map__contacts__phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.994px;
  text-decoration: none;
}
.map__feedback__btn{
  font-size: 18px;
  color: rgb(254, 254, 254);
  font-weight: 700;
  line-height: 23.994px;
}
/* end map  */

/*   pagination */
.pagination__item>a {
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.pagination__item__current {
  line-height: 18px;
  color: rgb(53, 53, 53);
  text-decoration: none;
}
/*   end pagination */


/*  foother  */
.footer__menu_item>a {
  font-size: 13px;
  line-height: 18.005px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.copyright{
  font-size: 12px;
  line-height: 18px;
  color: rgb(254, 254, 254);
  text-decoration: none;
}
/*  end foother  */



.bestseller__item img {
  height: 260px;
  width: 260px;
  border-radius: 130px;
}