/* tmp */

.visually-hidden {
    display: none;
}


/* end tmp */


/* global */

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(50, 50, 50);
    /* background-color: #849d8f; */
    background-image: url("../img/background-sliders1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.catalog,
.filters,
.about-us,
.bestseller,
.special-offer,
.slider,
.header-top {
    margin: 0 27px;
}

h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

li {
    list-style-type: none;
}


/* end global */


/* button */

.nav__login__btn,
.nav__cart__btn {
    font-size: 14px;
    color: #ffffff;
    line-height: 16px;
}

.nav__full-cart__btn {
    font-size: 14px;
    line-height: 16px;
    background-color: #f7f6f3;
}


/* end button */


/* header */

.nav__item>a {
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    /* text-decoration: none; */
}

.header__timetable__time-schedule {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.header__timetable__phone {
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}


/* end header */


/* slider */

.slider__item__title {
    font-size: 60px;
    line-height: 60.35px;
    color: #ffffff;
    font-weight: 700;
}

.slider__item__btn>a {
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}


/* end slider */


/* section special-offer */

.special-offer__item {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: 700;
}

.special-offer__item__info {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
}

.special-offer__item__btn>a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}


/* end section special-offer */


/* breadcrumbs inner */

.breadcrumbs__item>a,
.breadcrumbs__item {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
}


/* end breadcrumbs inner */


/* section filters */

.filters__parameter {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.filters__characteristic {
    line-height: 18px;
    color: #ffffff;
}

.filters__btn {
    line-height: 18px;
    color: #ffffff;
    background-color: #a6b8ae;
}


/* end section filters */


/* section about-us */

.about-us__title {
    font-size: 24px;
    line-height: 30px;
}


/* end section about-us */


/* section store-news */

.store-news__caption>a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}


/* end section store-news */


/* section subscription */

.subscription__text {
    color: #5a5a5a;
}

.subscription__inp {
    font-size: 18px;
    line-height: 24px;
    color: #999999;
}

.subscription__btn {
    line-height: 24px;
    color: #fefefe;
    font-weight: 700;
}


/* end section subscription */


/* section catalog */

.catalog__item__title>a,
.bestseller__item__title>a {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.catalog__item__price,
.bestseller__item__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #ffffff;
}


/* end section catalog */


/* map */

#map-googl {
    width: 100%;
    height: 430px;
    margin-bottom: 100px;
}

.map__contacts__title,
.map__contacts__time {
    font-size: 14px;
    line-height: 20px;
}

.map__contacts__address,
.map__contacts__phone {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
}

.map__feedback__btn {
    font-size: 18px;
    color: #fefefe;
    line-height: 24px;
    font-weight: 700;
}


/* end map */


/* pagination */

.pagination__item>a {
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.pagination__item__current {
    line-height: 18px;
    color: rgb(53, 53, 53);
    text-decoration: none;
}


/* end pagination */


/* foother */

.footer__menu_item>a {
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
}

.copyright {
    font-size: 12px;
    line-height: 16px;
    color: #fefefe
}


/* end foother */

.bestseller__item img {
    height: 260px;
    width: 260px;
    border-radius: 130px;
    margin-top: 10px;
}


/* Сеточные стили */

.header-top {
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 5; */
}

.header-nav {
    display: flex;
}

.logo {
    width: 164px;
    height: 74px;
}

.nav__items {
    display: flex;
    height: 35px;
}

.header__timetable {
    width: 175px;
    height: 45px;
    align-self: flex-end;
}

.filters {
    display: flex;
    flex-wrap: wrap;
}

.special-offer__items {
    display: flex;
    width: 100%;
}

.special-offer1 {
    width: 560px;
    height: 229px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 13px;
    background-image: url("../img/background-raspberries.jpg");
    background-repeat: repeat;
}

.special-offer2 {
    width: 560px;
    height: 229px;
    border-radius: 25px;
    margin-left: 13px;
    margin-right: auto;
    background-image: url("../img/background-chocolate.jpg");
    background-repeat: repeat;
}

.breadcrumbs__items,
.page-title {
    display: flex;
    margin-top: 2px;
    margin-left: 27px;
    margin-right: 27px;
    box-sizing: border-box;
    padding-left: 2px;
}

.breadcrumbs__item {
    padding: 2px;
}

.about-us {
    width: 1146px;
    min-height: 310px;
    border-radius: 20px;
    margin: 0px auto;
    background-color: #efe3cb;
    background-image: url("../img/background_about-us.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}

.about-us__items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.about-us__item {
    width: 49%;
}

.about-us__item:nth-child(1) {
    margin-right: 5px;
}

.about-us__item:nth-child(2) {
    margin-left: 5px;
}

.about-us__item:nth-child(3) {
    margin-right: 5px;
}

.about-us__item:nth-child(4) {
    margin-left: 5px;
}

.news-subscription {
    display: flex;
    margin-bottom: 40px;
    margin-top: 25px;
}

.store-news {
    width: 560px;
    height: 220px;
    border-radius: 10px;
    background-image: url("../img/background-strawberry.jpg");
    background-repeat: repeat;
    margin-left: auto;
    margin-right: 10px;
}

.subscription {
    width: 560px;
    height: 220px;
    border-radius: 10px;
    background-image: url("../img/background-postal.jpg");
    background-repeat: repeat;
    margin-left: 10px;
    margin-right: auto;
}

.footer {
    display: flex;
    min-width: 100%;
    height: 102px;
    justify-content: space-between;
    width: 100%;
}

.socials {
    width: 200px;
    height: 50px;
}

.socials__items {
    display: flex;
    padding: 0;
    margin: 0;
}

.socials__item:nth-child(1) {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #c2cec7;
    margin: 5px 12px;
}

.socials__item:nth-child(2) {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #c2cec7;
    margin: 5px;
}

.socials__item:nth-child(3) {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #c2cec7;
    margin: 5px;
}

.socials__item:nth-child(4) {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #c2cec7;
    margin: 5px;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 350px;
    padding: 0;
}

.footer__menu_item {
    width: 50%;
}

.foother__logo-copyrigh {
    width: 195px;
    height: 70px;
    margin-left: auto;
}

.foother__logo-copyrigh p {
    margin: 0;
}

.catalog__items,
.bestseller__items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.catalog {
    margin-left: 15px;
    margin-right: 15px;
}

.catalog-item,
.bestseller__item {
    width: 25%;
    box-sizing: border-box;
}

.pagination__list {
    display: flex;
    justify-content: flex-end;
}

.pagination__item {
    padding: 2px;
}


/* Сеточные стили */


/* поправила фильтр */

.filter {
    margin-top: -5px;
}

.filters-sort {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

fieldset.filter {
    padding: 0;
    margin-right: 8px;
}

.filter:nth-child(2) {
    width: 220px;
    height: 36px;
    border-radius: 36px;
    background-color: #a8bab0;
}

.filter:nth-child(3) {
    width: 416px;
    height: 36px;
    border-radius: 36px;
    background-color: #a8bab0;
}

.filter:nth-child(4) {
    width: 702px;
    height: 36px;
    border-radius: 36px;
    background-color: #a8bab0;
}

.filters__btn {
    width: 146px;
    height: 36px;
    border: 2px solid #f6f8f7;
    border-radius: 36px;
    background-color: #a6b7ae;
    box-sizing: border-box;
    margin-top: -4px;
    margin-left: 4px;
}

.filters__grease,
.filters__fillers {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}


/* end поправила фильтр */


/* задание Декоративные элементы */


/* подложка фона под хедер */


/* .header-top { background: url(../img/training-background/heder.png) top center no-repeat; } */

.nav__items {
    padding: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    width: 520px;
    margin-top: 20px;
    z-index: 10;
}

.nav__items a {
    text-decoration: none;
}

.nav__item {
    margin-left: -2px;
    position: relative;
    height: 60px;
}

.nav__item a {
    height: 36px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 2em;
    padding-left: 14px;
    padding-right: 14px;
    letter-spacing: 0.15px;
}

.nav__submenu__item a {
    border-radius: unset;
}

.nav__search {
    margin-left: auto;
}

button.nav__search__btn {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__search__btn:hover {
    background-color: rgb(248, 247, 244);
    color: #000000;
}

.nav__search__btn:hover path {
    fill: #000000;
}

.nav__login {
    margin-left: 10px;
    margin-right: 10px;
}

button.nav__login__btn {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 93px;
    height: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__login__btn span:nth-child(1) {
    height: 19px;
}

.nav__login__btn span {
    margin-left: 5px;
    margin-right: 5px;
}

.nav__login__btn:hover {
    background-color: rgb(248, 247, 244);
    color: #000000;
}

.nav__login__btn:hover g {
    fill: #000000;
}

button.nav__cart__btn {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 33px;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__cart__btn span {
    margin-left: 5px;
    margin-right: 5px;
}

.nav__cart__btn:hover {
    background-color: rgb(248, 247, 244);
    color: #000000;
}

.nav__cart__btn:hover g {
    fill: #000000;
}

button.nav__full-cart__btn {
    background-color: rgba(248, 247, 244, 0.988);
    width: 117px;
    height: 32px;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__full-cart__btn span {
    margin-left: 5px;
    margin-right: 5px;
}

.nav__full-cart__btn span:nth-child(1) {
    height: 20px;
}

.header__timetable {
    margin-top: -10px;
    text-align: right;
}

.header__timetable__time-schedule {
    margin: 0;
    letter-spacing: 0.27px;
}

.header__timetable__phone {
    margin-top: 4px;
    letter-spacing: 0.5px;
}

.nav__item a:hover {
    background-color: #fff;
    color: #000000;
    text-decoration: none;
}

.nav__item>a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    color: #000000;
}


/* выпадающее меню */

.popup-hidden {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
    padding: 0px;
    top: 35px;
}

.popup-hidden:hover,
.nav__item:hover .popup-hidden {
    display: block;
    width: 180px;
    z-index: 5;
    padding-bottom: 10px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
}

.nav__submenu__item a {
    color: #000000;
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0;
}

.nav__submenu__items li:nth-child(1) a {
    font-weight: bold;
    border-bottom: 1px solid;
}

.nav__submenu__items li:hover a {
    background-color: #FBDDD7;
}

.nav__submenu__items li:active a {
    background-color: #F6B3A4;
}


/* end выпадающее меню */

.nav__item__active>a {
    background-color: #CE6F5A;
    text-decoration: none;
}


/* Каталог */


/* подложка фона под каталог */


/*
 .catalog { background: url(../img/training-background/product.png) top center no-repeat; } 
 */

.catalog-item img {
    width: 100%;
    height: auto;
}

.catalog-item {
    padding: 5px 13px;
    min-height: 360px;
    position: relative;
}

.catalog__item__price {
    margin: -65px;
    padding-left: 65px;
    margin-right: 0;
}

.catalog__item__title {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 93px;
    z-index: 2;
    position: relative;
}

.catalog__item__title a:hover {
    color: #FCBBA0;
}

.catalog__item__title a:active,
.catalog__item__title a:focus {
    color: #FFBAA2;
}


/* выпадающая кнопка при ховере */

.bestseller__items .bestseller__item:hover,
.catalog__items .catalog-item:hover {
    background-color: #9AAEA2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bestseller__item:hover::before,
.catalog-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.cart-item {
    background-color: #ccc;
    width: 200px;
    height: 200px;
}

.cart-hover {
    position: absolute;
    top: calc(100% - 24px);
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #9AAEA2;
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.cart-hover a {
    text-decoration: none;
}

.bestseller__item:hover .cart-hover,
.catalog-item:hover .cart-hover {
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart-link {
    font-size: 18px;
    font-family: "Roboto", Arial, sans-serif;
    color: rgb(254, 254, 254);
    font-weight: bold;
    line-height: 24px;
    padding: 12px 16px;
    border-radius: 22px;
    box-shadow: 0px 2px 2px 0 var(--deep-red-64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
}

.cart-link:hover {
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 #ac1000;
}

.cart-link:active,
.cart-link:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}


/* end выпадающая кнопка при ховере */


/* end Каталог */


/* Хиты */


/* подложка фона под Хиты */


/*
 .bestseller { background: url(../img/training-background/hity.png) top center no-repeat; } 
 */

.bestseller {
    margin: 10px;
}

.bestseller__items {
    padding-top: 15px;
}

.bestseller__item {
    text-align: center;
    min-height: 360px;
    position: relative;
}

.bestseller__item__price {
    margin-top: -60px;
    padding-right: 85px;
    margin-right: 0;
}

.bestseller__item__title {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.bestseller__item__title:hover a {
    color: #FFB99D;
}

.bestseller__item::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    background: url(../img/svg-gllacy/hit.svg) top center no-repeat;
    width: 65px;
    height: 65px;
}


/* end Хиты */


/* Специальные предложения */


/* подложка фона под Специальные предложения */


/*
 .special-offer { background: url(../img/training-background/bannery.png) top center no-repeat; } 
 */

.special-offer__items {
    padding-left: 0;
    margin-top: 32px;
}

.special-offer__item {
    padding-left: 19px;
    margin-top: 17px;
}

.special-offer__item__info {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: -22px;
}

.special-offer__item__btn {
    text-align: right;
    padding-right: 23px;
    margin-top: 45px;
}

.special-offer__item__btn a {
    /* background-color: #EB533F; */
    line-height: 46px;
    display: inline-block;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.99;
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
    background-image: linear-gradient(to top, #ca3824, #f26843);
}

.special-offer__item__btn a:hover {
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 1px 2px 0 #ac1000;
    opacity: 1.0;
}

.special-offer__item__btn a:active,
.special-offer__item__btn a:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
    opacity: 1.0;
}


/* end Специальные предложения */


/* Карта */


/* подложка фона под Карта */


/*
 .map { background: url(../img/training-background/map.png) top center no-repeat; } 
 */

.map {
    height: 430px;
    position: relative;
    width: 100%;
    /* background: url(../img/fon-map.png) top center no-repeat; }; */
}

.map__contacts {
    min-height: 302px;
    width: 302px;
    border-radius: 10px;
    background-color: #FEFEFE;
    position: absolute;
    bottom: 60px;
    right: 27px;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 26px;
    padding-right: 26px;
}

.map__contacts .map__contacts__title:nth-child(1) {
    width: 152px;
    margin-bottom: 0;
}

.map__contacts .map__contacts__title:nth-child(3) {
    margin-bottom: 0;
}

.map__contacts__address {
    font-style: normal;
    width: 230px;
    margin-bottom: 18px;
}

p.map__contacts__phone {
    margin-top: 2px;
    margin-bottom: 0;
}

.map__contacts__time {
    margin-top: 0px;
}

a.feedback-form {
    background-color: #EB533F;
    border: none;
    color: #ffffff;
    font-weight: bold;
    line-height: 40px;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
    width: 252px;
    height: 44px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
}

a.feedback-form:hover {
    background-color: #ED7363;
}

a.feedback-form:focus {
    background-color: #DC543E;
}

.map__feedback__btn {
    font-size: 18px;
    color: #fefefe;
    line-height: 24px;
    font-weight: 700;
    margin-top: 22px;
    text-align: center;
}


/* убирает рамку при нажатии кнопки */

a:active,
a:focus {
    outline: none;
}

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

 :focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}


/* end убирает рамку при нажатии кнопки */


/* end Карта */


/* фильтр */

.filter:nth-child(1) {
    position: relative;
    border: none;
    margin-bottom: 43px;
}

.filter:nth-child(1) .filters__parameter {
    position: absolute;
    top: -20px;
    left: 12px;
}

.filter select {
    width: 194px;
    height: 36px;
    border-radius: 36px;
    background-color: #a8bab0;
    padding-left: 20px;
    color: #ffffff;
}

.filter {
    position: relative;
}

.filter select {
    -webkit-appearance: none;
    /* Chrome */
    -moz-appearance: none;
    /* Firefox */
}

.form__select {
    width: 100%;
    height: 36px;
    border-radius: 18px;
    background-color: #a8bab0;
    position: relative;
    color: #fff;
}

.form__select:before {
    content: "";
    display: block;
    width: 1px;
    height: 33px;
    pointer-events: none;
    position: absolute;
    top: 1px;
    right: 30px;
    z-index: 1;
}

.form__select:after {
    content: "";
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    z-index: 1;
}

.form__select:active:after,
.form__select:focus:after,
.form__select:hover:after {
    content: "";
    border-color: #000000 transparent transparent transparent;
}

.filter select:focus,
.filter select:hover {
    background-color: #f8f7f4;
    color: #000;
}

.form__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: none;
    border: none;
}


/* Убираем стандартные стрелочки в IE */

.form__select select::-ms-expand {
    display: none;
}

.form__select select:focus {
    outline: 0;
    border-color: #2cb0d8;
}

.form__select select:hover {
    cursor: pointer;
}


/* end Убираем стандартные стрелочки в IE */

.filter:nth-child(2) {
    position: relative;
    border: none;
    margin-bottom: 43px;
    margin-left: 17px;
    margin-right: 17px;
}

.filter:nth-child(2) .filters__parameter {
    position: absolute;
    top: -20px;
    left: 12px;
}

.filter:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 34px;
    background: url(../img/svg-gllacy/filter-button.svg) top center no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.filter:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 70px;
    background: url(../img/svg-gllacy/filter-button.svg) top center no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.filter:nth-child(2) {
    background: url(../img/svg-gllacy/price-11.svg) center center no-repeat;
    background-color: #a8bab0;
}

.filter:nth-child(3) {
    position: relative;
    border: none;
    margin-bottom: 43px;
}

.filter:nth-child(3) .filters__parameter {
    position: absolute;
    top: -20px;
    left: 12px;
}

.filters__grease {
    padding: 0 15px;
    margin-top: 6px;
}

.filter:nth-child(4) {
    position: relative;
    border: none;
    margin-bottom: 38px;
}

.filter:nth-child(4) .filters__parameter {
    position: absolute;
    top: -20px;
    left: 12px;
}

.filters__fillers {
    padding: 0 15px;
    margin-top: 6px;
}

.filters__btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.filters__btn:focus {
    background-color: #E9E9E9;
}


/* стилизация радио кнопок */

input[type="radio"] {
    display: none;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../img/svg-gllacy/radio-off.svg) left top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked+label span {
    background: url(../img/svg-gllacy/radio-on.svg) left top no-repeat;
}


/* end стилизация радио кнопок */


/* стилизация чекбоксов */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../img/svg-gllacy/checkbox-off.svg) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url(../img/svg-gllacy/checkbox-on.svg) left top no-repeat;
}


/* end стилизация чекбоксов */


/* end фильтр */


/* футер */


/* подложка фона под футер */


/*
 .footer { background: url(../img/training-background/footer.png) top center no-repeat; } 
 */

.footer-hr {
    width: 95%;
    margin-bottom: 0;
    border: none;
    /* Убираем границу для браузера Firefox */
    color: #A7BAB0;
    /* Цвет линии для остальных браузеров */
    background-color: #A7BAB0;
    ;
    /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
    /* Толщина линии */
}

.socials {
    margin-left: 17px;
    margin-top: 30px;
}

.socials__items {
    position: relative;
}

.socials__items .socials__item {
    box-sizing: border-box;
}

.socials__items .socials__item:hover path {
    fill: #FEFFFF
}

.socials__items .socials__item:active path,
.socials__items .socials__item:focus path {
    fill: #E8E8E8
}

.footer__menu {
    margin-left: 45px;
    margin-top: 30px;
    position: relative;
}

.footer__menu .footer__menu_item:nth-child(2n-1) {
    width: 40%;
}

.footer__menu_item:hover a {
    color: #FFB99D;
}

.footer__menu .footer__menu_item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -30px;
    background: url(../img/svg-gllacy/heart.svg) top center no-repeat;
    width: 25px;
    height: 25px;
}

.foother__logo-copyright {
    margin-right: 25px;
}

.foother__logo-copyright p:nth-child(2) {
    margin-top: -17px;
}

a.copyright:hover {
    color: #FFB99D;
}


/* end футер*/


/* о нас(вафелька)*/


/* подложка фона под о нас */


/*
 .about-us { background: url(../img/training-background/seo.png) top center no-repeat; } 
 */

.about-us__title {
    padding-top: 30px;
    padding-left: 20px;
}

.about-us__items {
    position: relative;
}

.about-us__item {
    margin-bottom: 8px;
}

.about-us__item p {
    margin-top: 0;
    padding-left: 35px;
    padding-right: 10px;
}

.about-us__items .about-us__item:nth-child(2) p,
.about-us__items .about-us__item:nth-child(4) p {
    padding-left: 50px;
}

.about-us__items .about-us__item:nth-child(1)::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 18px;
    background: url(../img/svg-gllacy/ice-cream.svg) top center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 15;
}

.about-us__items .about-us__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 585px;
    background: url(../img/svg-gllacy/cow.svg) top center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 15;
}

.about-us__items .about-us__item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 18px;
    background: url(../img/svg-gllacy/eco.svg) top center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 15;
}

.about-us__items .about-us__item:nth-child(4)::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 585px;
    background: url(../img/svg-gllacy/thermometer.svg) top center no-repeat;
    width: 50px;
    height: 50px;
    z-index: 15;
}


/* end о нас(вафелька)*/


/* новости */


/* подложка фона под новости */


/*
 .store-news { background: url(../img/training-background/news-blog.png) top center no-repeat; } 
 */

h2.store-news__title {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    color: rgb(50, 50, 50);
    margin-top: 23px;
    margin-left: 20px;
    margin-bottom: 0;
}

p.store-news__caption {
    margin-top: 4px;
    margin-left: 19px;
    width: 300px;
}

.store-news__caption a:hover {
    color: #E84933;
}


/* end новости */


/* рассылка */


/* подложка фона под рассылка */


/*
 .subscription { background: url(../img/training-background/rassylka.png) top center no-repeat; } 
 */

.subscription__text {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

form.subscription__form-mailing {
    display: flex;
    justify-content: space-between;
}

.subscription__inp {
    margin-left: 27px;
    margin-top: 3px;
    width: 366px;
    height: 44px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

.subscription__btn {
    background-color: #E54A3A;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    margin-right: 22px;
    height: 44px;
    border-radius: 22px;
    padding-left: 25px;
    padding-right: 25px;
}

.subscription__btn:hover {
    background-color: #E9725F;
}

.subscription__btn:active,
.subscription__btn:focus {
    background-color: #DF6043;
}


/* end рассылка */


/* пагинация каталог */

.pagination__list {
    margin-right: 3px;
    margin-top: 50px;
    margin-bottom: 28px;
}

.pagination__list .pagination__item:nth-child(1) img {
    transform: rotate(180deg);
}

.pagination__item a {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 9px;
}

.pagination__list a:hover {
    background-color: #9AAEA2;
}

.pagination__item__current a,
.pagination__item a:focus {
    background-color: #ffffff;
    color: #000000;
}


/* end пагинация каталог */


/* хлебные крошки */

.breadcrumbs__item:hover a {
    color: #FFB99D;
}

.breadcrumbs__items .breadcrumbs__item:nth-child(2)::before,
.breadcrumbs__items .breadcrumbs__item:nth-child(3)::before {
    content: "»";
    margin-right: 10px;
}

.breadcrumbs__item a {
    border-bottom: 1px solid #ACBDB4;
}

.breadcrumbs__items {
    margin-bottom: 0;
    margin-top: -22px;
    z-index: 5;
    position: relative;
    margin-left: 27px;
    margin-right: 27px;
}

h1 {
    margin-top: 0;
    margin-bottom: 52px;
}


/* end хлебные крошки */


/* слайдер */

.slider__items {
    padding: 0;
    height: 480px;
}

.slider__item {
    width: 1045px;
    height: 881px;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

.slider__item__title {
    position: absolute;
    top: 330px;
    left: calc(50% - 280px);
    width: 700px;
}

.slider__item__btn a {
    font-size: 30px;
    font-weight: bold;
    line-height: 41px;
    padding: 12px 45px;
    border-radius: 31px;
    box-shadow: 0px 2px 2px 0 var(--deep-red-64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
    position: absolute;
    left: calc(50% - 85px);
    top: 542px;
}

.slider__item__btn a:hover {
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 #ac1000;
}

:root {
    --white-20: rgba(255, 255, 255, 0.2);
}

.slider__item__btn a:active,
.slider__item__btn a:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.slider-nav {
    display: flex;
    position: absolute;
    left: -45px;
    top: 558px;
}

.slider-nav__item {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
}

.slider-active {
    background-color: #ffffff;
}

.slider-nav__item:hover {
    background-color: #B0C0B6;
}

.slider-nav__item:active,
.slider-nav__item:focus {
    background-color: #ffffff;
}


/* end слайдер */


/* выпадающие окна */


/* поиск */

.search-popup-hidden {
    display: none;
}

.nav__search:hover .search-popup-hidden {
    display: block;
}

.nav__search {
    position: relative;
}

.nav__search .search-popup-hidden {
    position: absolute;
    top: 55px;
    left: -235px;
}

.search {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    width: 272px;
    height: 69px;
    position: relative;
    z-index: 5;
    box-sizing: border-box;
    padding: 14px;
}

.search input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 243px;
    height: 41px;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
}


/* end поиск */


/* вход */

.login-popup-hidden {
    display: none;
}

.nav__login:hover .login-popup-hidden {
    display: block;
}

.nav__login {
    position: relative;
}

.nav__login .login-popup-hidden {
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    width: 277px;
    height: 214px;
    z-index: 5;
    position: absolute;
    top: 55px;
    right: 0;
}

.login {
    padding-top: 1px;
}

.login p {
    margin-top: 19px;
    margin-bottom: 5px;
}

.login-email {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 243px;
    height: 46px;
    padding-left: 10px;
    margin: 0 auto;
    display: block;
}

.login-password {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 243px;
    height: 46px;
    padding-left: 10px;
    margin: 0 auto;
    display: block;
}

.login a {
    font-size: 13px;
    color: rgb(50, 50, 50);
    line-height: 14px;
}

.login a:hover {
    color: #FFB99D;
}

.login-text p {
    margin: 0;
}

.login button {
    border: none;
    display: inline-block;
    font-size: 18px;
    color: rgb(254, 254, 254);
    font-weight: bold;
    line-height: 24px;
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
    background-image: linear-gradient(to top, #ca3824, #f26843);
    width: 100px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}

.login button:hover {
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 1px 2px 0 #ac1000;
}

.login button:active,
.login button:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.login-text {
    display: inline-block;
    top: 8px;
    position: relative;
}


/* end вход */


/* полная корзина*/

.full-cart-popup-hidden {
    display: none;
}

.nav__full-cart:hover .full-cart-popup-hidden {
    display: block;
}

.nav__full-cart {
    position: relative;
}

.nav__full-cart .full-cart-popup-hidden {
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    width: 539px;
    height: 242px;
    z-index: 5;
    position: absolute;
    top: 55px;
    right: 0;
    padding: 15px;
    box-sizing: border-box;
}

.cart {
    padding: 1px;
}

.cart__product-text {
    display: flex;
    justify-content: space-between;
}

.cart__product-text button {
    background-color: rgba(250, 250, 250, 0.0);
    border: none;
}

.cart__product-text button:hover path {
    fill: #FFB99D;
}

.cart span {
    font-size: 13px;
    color: rgb(50, 50, 50);
    line-height: 16px;
}

.cart span.cart__product-price {
    color: #B0B0AF;
}

.cart__product {
    width: 220px;
    display: inline-block;
}

.cart_product-total-price,
.cart__weight,
.cart__product {
    margin-top: 6px;
}

.total-price {
    font-size: 15px;
    color: rgb(50, 50, 50);
    font-weight: bold;
    line-height: 18px;
    text-align: right;
}

.cart .submit {
    border: none;
    font-size: 18px;
    color: rgb(254, 254, 254);
    font-weight: bold;
    line-height: 24px;
    opacity: 0.99;
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
    background-image: linear-gradient(to top, #ca3824, #f26843);
    width: 170px;
    height: 44px;
    border-radius: 22px;
    display: block;
    margin-left: auto;
}

.cart .submit:hover {
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 1px 2px 0 #ac1000;
}

.cart .submit:active,
.cart .submit:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}


/* end полная корзина */


/* форма обратной связи */

.feedback-popup-hidden {
    display: none;
}

.feedback-popup-hidden {
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    width: 398px;
    height: 368px;
    z-index: 5;
    top: 40px;
    left: -435px;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: calc(50% - 198px);
    left: calc(50% - 184px);
}

.map__feedback .feedback-cross {
    background-color: rgba(250, 250, 250, 0.0);
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.map__feedback__name input:placeholder-shown {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    box-sizing: border-box;
    width: 224px;
    height: 36px;
    padding-left: 10px;
}

.map__feedback__email input:placeholder-shown {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    width: 224px;
    height: 36px;
    padding-left: 10px;
    box-sizing: border-box;
}

.map__feedback__text textarea:placeholder-shown {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    width: 100%;
    height: 130px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.map__feedback__name input:hover,
.map__feedback__email input:hover,
.map__feedback__text textarea:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    box-sizing: border-box;
}

.map__feedback__name input:focus,
.map__feedback__email input:focus,
.map__feedback__text textarea:focus {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(46, 136, 228);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
}

.map__feedback__name input {
    color: #000000;
    border-color: #5D5D5D;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 224px;
    height: 36px;
    padding-left: 10px;
}

.map__feedback__email input {
    color: #000000;
    border-color: #5D5D5D;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 224px;
    height: 36px;
    padding-left: 10px;
}

.map__feedback__text textarea {
    color: #000000;
    border-color: #5D5D5D;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 100%;
    height: 130px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.map__feedback__text {
    margin-bottom: 5px;
}

.feedback .map__feedback__btn {
    display: block;
    margin-top: 0;
    margin-left: auto;
    width: 118px;
    height: 36px;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 2px 2px 0 var(--deep-red-64);
    background-image: linear-gradient(to top, #e74a35, #f26843);
}

.feedback .map__feedback__btn:hover {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, var(--white-20), var(--white-20)), linear-gradient(to top, #e74a35, #f26843);
}

.feedback .map__feedback__btn:active,
.feedback .map__feedback__btn:focus {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}


/* форма обратной связи */


/* end выпадающие окна */


/* end задание Декоративные элементы */


/* подложка фона под index.html */


/*
body { background: url(../img/training-background/gllacy-index.jpg) top center no-repeat; } 
*/


/* подложка фона под inner.html */


/*
body { background: url(../img/training-background/gllacy-catalog.jpg) center center no-repeat; } 
*/