/*  tmp  */
.popup-hidden,
.visually-hidden {
  display: none;
}
/*  end tmp  */

/*  global  */
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(50, 50, 50);

  background-color: #849d8f;
  background-image: url("img/background-sliders1.png");
  background-position: top center;
  background-repeat: no-repeat;
}
h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
img { max-width: 100% ; }
a { text-decoration: none; color: #ffffff; }
li {
  list-style-type: none;
}
/*  end global  */

/*  button */
.nav__search,
.nav__login__btn,
.nav__cart__btn {
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  background-color: #9db1a5;
}
.nav__full-cart__btn {
  font-size: 14px;
  line-height: 16px;
  background-color: #f7f6f3;
}
/* end button */

/*  header  */
.nav__item>a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.header__timetable__time-schedule {
  font-size: 14px;
  line-height: 16px;
  color:#ffffff;
}
.header__timetable__phone {
  font-size: 22px;
  line-height: 24px;
  color:#ffffff;
  text-decoration: none;
}
/*  end header  */

/*  slider  */
.slider__item__title{
  font-size: 60px;
  line-height: 60.35px;
  color:#ffffff;
  font-weight: 700;

}
.slider__item__btn>a {
  font-size: 32px;
  line-height: 44px;
  color:#ffffff;
  font-weight: 700;
  background-color: #ee5e3e;
  text-decoration: none;
}
/*  end slider  */

/*  section special-offer  */
.special-offer__item{
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}
.special-offer__item__info{
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
}
.special-offer__item__btn>a{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  background-color: #f06541;
}
/*  end section special-offer  */

/*  breadcrumbs inner  */
.breadcrumbs__item>a,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}
.page-title{
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}
/* end breadcrumbs inner */

/*  section filters  */
.filters__parameter{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.filters__characteristic{
  line-height: 18px;
  color: #ffffff;
}
.filters__btn{
  line-height: 18px;
  color: #ffffff;
  background-color: #a6b8ae;
}
/*  end section filters  */

/*  section about-us  */
.about-us__title {
  font-size: 24px;
  line-height: 30px;
}
/*  end section about-us  */

/*  section store-news  */
.store-news__caption>a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}
/*  end section store-news  */

/*  section subscription */
.subscription__text {
  color: #5a5a5a;
}
.subscription__inp {
  font-size: 18px;
  line-height: 24px;
  color:#999999;
}
.subscription__btn {
  line-height: 24px;
  color:#fefefe;
  font-weight: 700;
  background-color: #ef6140;
  text-decoration: none;
}
/*  end section subscription  */

/*  section catalog  */
.catalog__item__title>a,
.bestseller__item__title>a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.catalog__item__price,
.bestseller__item__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}
/*  end section catalog  */

/*  map */
#map-googl {
  width: 100%;
  height: 400px;
  background-color:#dddddd;
  margin-bottom:100px;
}
.map__contacts__title,
.map__contacts__time {
  font-size: 14px;
  line-height: 20px;
}
.map__contacts__address,
.map__contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}
.map__feedback__btn {
  font-size: 18px;
  color: #fefefe;
  line-height: 24px;
  font-weight: 700;
}
/* end map  */

/*   pagination */
.pagination__item>a {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.pagination__item__current {
  line-height: 18px;
  color: rgb(53, 53, 53);
  text-decoration: none;
}
/*   end pagination */


/*  foother  */
.footer__menu_item>a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}
.copyright {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe
}
/*  end foother  */

.bestseller__item img {
  height: 260px;
  width: 260px;
  border-radius: 130px;
}


/*  Сеточные стили  */
.header-top {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
}
.header-nav{
  display: flex;
}
.logo{
  padding-top: 10px;
  width: 164px;
  height: 74px;
  background-color: #999999;
}
.nav__items {
  display: flex;
  margin-top: 22px;
  width: 360px;
  height: 35px;
  background-color: #aaaaaa;
}
.nav__item {
  padding-left: 7px;
  padding-right: 7px;
  }

.nav__search{
  width: 34px;
  height: 34px;
  border-radius: 17px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: 5px;
  background-color: #bbbbbb;
}
.nav__search p{
  margin-top: 5px;
  margin-left: 9px;
}
.nav__login{
  width: 94px;
  height: 34px;
  border-radius: 17px;
  margin-top: 23px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #cccccc;
}
.nav__cart{
  width: 100px;
  height: 34px;
  border-radius: 17px;
  margin-top: 23px;
  margin-left: 5px;
  background-color: #dddddd;
}
.nav__cart__btn,
.nav__login p{
  margin-top: 5px;
  margin-left: 35px;
}
.nav__cart p{
  margin-top: 5px;
  margin-left: 25px;
}
.header__timetable{
  width: 175px;
  height: 45px;
  align-self: flex-end;
  margin-top: 0;
  background-color: #999999;
}

.about-us{
  width: 1146px;
  height: 310px;
  border-radius: 10px;
  margin: 40px auto;
  background-color: #efe3cb;
  background-image: url("../img/background_about-us.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}
.about-us__items{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.about-us__item {
  width: 540px;
}
.about-us__item:nth-child(1){
  margin-right: 5px;
  margin-bottom: 0px;
  background-color: #bbbbbb;
}
.about-us__item:nth-child(2){
  margin-left: 5px;
  margin-bottom: 0px;
  background-color: #cccccc;
}
.about-us__item:nth-child(3){
  margin-right: 5px;
  margin-top: 0px;
  background-color: #dddddd;
}
.about-us__item:nth-child(4){
  margin-left: 5px;
  margin-top: 0px;
  background-color: #eeeeee;
}
.news-subscription {
  display: flex;
  margin-bottom: 40px;
}
.store-news {
  width: 564px;
  height: 222px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 10px;
  background-color: #cccccc;
}
.subscription {
  width: 564px;
  height: 222px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: auto;
  background-color: #bbbbbb;
}
.footer{
  display: flex;
  width: 100%;
  height: 102px;
  background-color: #aaaaaa;
}
.socials{
  width: 200px;
  height: 50px;
  background-color: #bbbbbb;
  margin-left:26px;
  margin-right:auto;
  margin-top:36px;
}
.socials__items {
  display: flex;
  padding:0;
  margin:0;
}
.socials__item:nth-child(1) {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #e6ebe9;
  border: 2px solid #c2cec7;
  margin: 2px;
}
.socials__item:nth-child(2) {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #e6ebe9;
  border: 2px solid #c2cec7;
  margin: 2px;
}
.socials__item:nth-child(3) {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #e6ebe9;
  border: 2px solid #c2cec7;
  margin: 2px;
}
.socials__item:nth-child(4) {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: #e6ebe9;
  border: 2px solid #c2cec7;
  margin: 2px;
}

.footer__menu-left {
  width: 170px;
  height: 50px;
  background-color: #cccccc;
  margin-top:36px;
}
.footer__menu-right {
  width: 170px;
  height: 50px;
  background-color: #dddddd;
  margin-top:36px;
}
.foother__logo-copyrigh {
  width: 195px;
  height: 70px;
  background-color: #cccccc;
  margin-right:26px;
  margin-left:auto;
  margin-top: 14px;
}
.foother__logo-copyrigh p{
  margin:0;
}
.catalog__items,
.bestseller__items{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}
.catalog-item,
.bestseller__item{
  width: 25%;
  box-sizing: border-box;
  padding: 15px;
}
.pagination__list{
  display: flex;
  justify-content: flex-end;
  background-color: #aaaaaa;
}
.pagination__item{
padding: 2px;
}
/*  Сеточные стили  */
